.sidebar {
  background-color: #111827;
  width: 260px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all ease-in 0.3s;
}

.sidebar.hide {
  width: 87px;
  transition: all ease-out 0.3s;
}

.sidebar .desc-header {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.sidebar.hide .desc-header {
  display: none;
}

.sidebar .desc-header span {
  color: orange;
}

.sidebar .header .list-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.sidebar .icon {
  margin-right: 12px;
  color: #ffffff;
}

.sidebar .header .illustrations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0 22px 0;
  box-sizing: border-box;
}

.illustrations img {
  width: 200px;
}

.sidebar.hide .illustrations img {
  display: none;
}

.sidebar .menu .list-item {
  border-radius: 8px;
  width: 212px;
  box-sizing: border-box;
}

.sidebar .menu .list-item a:hover {
  background-color: #ff9900;
  transition: all ease-in 0.2s;
}

.sidebar .menu .list-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
  transition: all ease-in 0.2s;
}

.sidebar .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.sidebar.hide .description {
  display: none;
}
